<p>
    При посадке на  новый остров наша исследовательская команда потерпела крушение.
    Теперь им необходимо расчистить прямоугольную взлетную площадку и чем больше тем лучше.
    При исследовании острова они составили карту, разбили ее на квадраты и разметили по типам поверхности.
    Каждый квадрат помечен в соответствии с типом местности: трава (G), камни (R), вода (W), кустарники (S) или деревья (T).
    Траву можно скосить, кустарники легко вырубить, но вот от деревьев, камней и воды так легко не избавишься.
    Зная карту местности, нашей команде необходимо рассчитать максимальную прямоугольную площадку, которую они могут расчистить.
</p>

<p>
    Карта острова представлена, как массив строк.
    Каждая строка состоит из букв, которые обозначают соответствующие типы местности для каждого квадрата (G, R, W, S или T).
    Карта острова квадаратная.
</p>

<p class="for_info_only" style="text-align: center;"><img src="{{ MEDIA }}spaceship_landing2.png" alt="strip" width="420px"/></p>
<p class="for_editor_only" style="text-align: center;"><img src="{{ MEDIA }}spaceship_landing2.png" alt="strip" width="380px"/></p>

<p><strong>Входные данные:</strong> Карта острова, как {% if is_js %}массив (array){% else %}список (list){% endif %} строк (str).</p>

<p><strong>Выходные данные: </strong> Площадь максимально большой прямоугольной площадки, как целое число (int).</p>

<div class="for_info_only">
    <p><strong>Примеры:</strong></p>
    {% if is_js %}
    <pre class="brush: javascript">landingArea(['G']) == 1
landingArea(['GS', 'GS']) == 4
landingArea(['GT', 'GG']) == 2
landingArea(['GGTGG',
 'TGGGG',
 'GSSGT',
 'GGGGT',
 'GWGGG',
 'RGTRT',
 'RTGWT',
 'WTWGR']) == 9
landingArea(['GSWGG', 'SGRST', 'WGSRS', 'RSSST']) == 4
</pre>
{% else %}
<pre class="brush: python">checkio(['G']) == 1
checkio(['GS', 'GS']) == 4
checkio(['GT', 'GG']) == 2
checkio(['GGTGG',
 'TGGGG',
 'GSSGT',
 'GGGGT',
 'GWGGG',
 'RGTRT',
 'RTGWT',
 'WTWGR']) == 9
checkio(['GSWGG', 'SGRST', 'WGSRS', 'RSSST']) == 4
</pre>
{% endif %}
</div>

<p class="for_info_only">
    <strong>Связь с реальной жизнью: </strong>
    Еще один пример распознавания образов.
    А если решите это с помощью гистограмм, то сможете использовать это для статистического анализа.

</p>

<p>
    <strong>Предусловия:</strong><br>
    0 &lt; len(landing_map) &lt; 10<br>
    all(0 &lt; len(row) &lt; 10 for row in landing_map)
</p>